.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 20px;
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 4rem;
}

.background-icon {
  text-align: center;
  background-color: red;
  width: 50%;
  height: 100%;
}

.texto-cantidad {
  text-align: center;
  width: 50%;
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.title-section {
  text-align: center;
  padding: 20px;
}

.divider {
  background-color: blueviolet;
  border: 3px solid blueviolet !important;
  border-radius: 15px !important;
}
